.avatar {
  /* Ou utilizamos o box-sizing: initial, ou o cálculo com a altura e largura para manter a foto de perfil do mesmo tamanho (que diminui de tamanho devido ao box-sizing: border-box global) */
  /* width: calc(3rem + 12px); */
  /* height: calc(3rem + 12px); */
  box-sizing: initial;
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
}

.avatarWithBorder {
  box-sizing: initial;
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
  border: 4px solid var(--gray-800);
  outline: 2px solid var(--green-500);
}